*.bas text working-tree-encoding=UTF-8
*.cls text working-tree-encoding=UTF-8
*.txt text working-tree-encoding=UTF-8
*.sql text working-tree-encoding=UTF-8
*.ps1 text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
*.csv text working-tree-encoding=UTF-8
